<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xsi:schemaLocation="
          http://www.springframework.org/schema/beans    
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id ="accountMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.mio.dao.AccountMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />

	</bean>
	
	<bean id="accountService" class="com.mio.service.impl.AccountServiceMybatisImpl">
		<property name="accountMapper" ref="accountMapper"/>
	</bean>
	
	<bean id="accountAction" class="com.mio.action.AccountAction" >
		<property name="accountService" ref="accountService"/>
	</bean>
	
</beans> 