<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          ">
    <bean id="jdbc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
        <property name="locations" value="classpath:jdbc.properties"/>
    </bean>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />

        <property name="filters" value="stat" />

        <property name="maxActive" value="20" />
        <property name="initialSize" value="1" />
        <property name="maxWait" value="60000" />
        <property name="minIdle" value="1" />

        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <property name="minEvictableIdleTimeMillis" value="300000" />

        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />

        <property name="poolPreparedStatements" value="true" />
        <property name="maxOpenPreparedStatements" value="20" />
    </bean>
    <!--//SqlSessionFactory配置，注意此处有大坑（如果你使用Intellij这个ide的话请看后面的填坑指南）-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/>-->
    </bean>

    <bean id="userService" class="com.mio.service.impl.UserServiceImpl"></bean>
    <bean id="roomService" class="com.mio.service.impl.RoomServiceImpl"></bean>
    <bean id="shelfService" class="com.mio.service.impl.ShelfServiceImpl"></bean>
    <bean id="customerService" class="com.mio.service.impl.CustomerServiceImpl"></bean>
    <bean id="cardService" class="com.mio.service.impl.CardServiceImpl"></bean>
    <bean id="bookService" class="com.mio.service.impl.BookServiceImpl"></bean>
    <bean id="borrowService" class="com.mio.service.impl.BorrowServiceImpl"></bean>
    <bean id="deductionService" class="com.mio.service.impl.DeductionServiceImpl"></bean>

</beans>
